<div class="index-cont">
  <ul class="no_bullets">

    <% @cocktails.each do |cocktail| %>
  <li>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" <%=image_tag("white_russian.jpg")%>

      <div class="card-body">
        <h5><%= link_to "#{cocktail.name}", cocktail_path(cocktail) %></h5>
            <p class="card-text">
            <% cocktail.doses.each do |dose| %>
              <%=  "#{dose.description} of #{dose.ingredient.name}" %>
              <% end %>
            </p>
      </div>
    </div>
  </li>
    <% end %>

  </ul>
</div>
