.navbar-lewagon {
  justify-content: space-between;
  background-image: linear-gradient(rgb(0, 0, 128), rgb(153, 153, 255));
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.avatar-width {
  height: 40px;
  width: 40px;
}
