.navbar-lewagon {
  justify-content: space-between;
  background-image: linear-gradient(rgb(33, 4, 47), rgb(82, 10, 117));
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.avatar-width {
  height: 40px;
  width: 40px;
}
