.no_bullets {
  list-style-type: none;
}

.index-cont {
  background-color: rgb(33, 4, 47);
}

.content {
  height: 15em;
  width: 15em;
}

.card-category-first {
  padding: 5px;
  color: white;
  height: 200px;
  width: 42%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category-second {
  padding: 5px;
  color: white;
  height: 200px;
  width: 42%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-left: 45%;
}

.card-category a:link {
  text-decoration: none;
}
